.above-navbar-main {
  background-color: #081f51;
  color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  padding: 20px;

  p {
    font-size: 13px;
  }
  .access {
    border: 1px solid #ffc221;
    padding: 5px 30px;
    border-radius: 4px;
    p {
      color: #ffc221;
    }
  }
}

@media screen and (min-width: 800px) {
  .above-navbar-main {
    justify-content: space-between;
    p {
      font-size: 18px;
    }
  }
}
