.why-choose-us-main {
  padding: 20px;
  h1 {
    font-size: 24px;
    color: #081f51;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    color: #081f51;
    text-align: center;
  }

  p {
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
  }
  .item {
    margin-top: 30px;
  }
  img {
    display: none;
  }
}
