.our-mission-main {
  text-align: center;
  padding: 20px;
  .content {
    h1 {
      color: #081f51;
    }
    p {
      margin: 10px 0;
      line-height: 1.5;
      padding: 0 30px;
    }
  }
  img {
    margin-top: 30px;
  }
}
