.we-guarantee-success-main {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  h1 {
    color: #081f51;
  }
  p {
    margin-top: 10px;
    line-height: 1.5;
  }
  .guarantee-success-video {
    margin-top: 30px;
  }
}
